.n-base-select-option__content
{
    width: 100%;
}
/* .n-base-selection
{
     --n-padding-single-top: 20px;
    --n-padding-single-bottom: 20px;
    --n-padding-single-left: 20px;
    --n-padding-single-right: 20px; 
    --n-height: calc(--n-height + 5em) !important;
   
} */